.header {
    overflow: hidden;
    background-color: #ffffff;
    padding: 10px 10px;
  }
  
  .header img {
    width: 80px;
    height: 80px;
    float: left;
    color: #2B7CCC;
    text-align: center;
    padding-left: 20px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
  }
  
  .header img.logo {
    font-size: 25px;
    font-weight: bold;
  }
  
  .header h1.title {
    color: #2B7CCC;
    font-size: 48px;
    font-weight: bold;
    padding-left: 40px; 
    margin-top: 0px;
  }
  
  .header a {
    float: left;
    color: #2B7CCC;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font-size: 24px; 
    line-height: 25px;
    border-radius: 4px;
  }
  
  .header a:hover {
    background-color: rgb(172, 161, 161);
    color: rgb(0, 0, 0);
  }
  
  .header h1 {
    float: left;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
  }
  
  .header-right {
    float: right;
  }
    
  @media (max-width: 600px) {
    .header {
      overflow: hidden;
      padding: 5px 5px;
    }

    .header img {
      padding-left: 0px;
    }

    .header h1.title {
      font-size: 28px;
      font-weight: bold;
      padding: 5px; 
      margin-top: 0px;
    }
  
    .header a {
      float: none;
      text-align: left;
      padding: 5px;
      font-size: 18px; 
      line-height: 10px;
      border-radius: 4px;
    }
    
    .header-right {
      float: none;
    }
  }
