.column {
  float: left;
  padding: 0 2px;
}

.left {
  width: 40%;
}

.right {
  width: 55%;
  margin-top: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
  padding: 1px;
  text-align: center;
}

.search-text {
    box-shadow: 0 10px 40px 0 #B0C1D9;
    width: 400px;
    height: 35px;
    border-radius: 5px;
    font-size: 18px;
}

.search-text::placeholder  {
  text-align: center;
  font-size: 18px;
}

.list {
    max-width: 400px;
    color: #333;
    list-style: none;
    margin: 20px auto;
}

.list li {
    padding: 20px;
    background: rgb(175, 204, 238);
    border-radius: 5px;
    margin-bottom: 8px;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}

.list li.selected {
  background-color: rgb(241, 212, 78);
}

.list li.nonselected {
  background-color: rgb(175, 204, 238);
}

.center {
    text-align: center;
}

.virtual-scroll {
    padding: 10px;
    height: 525px;
}

.noUser {
  text-align:center;
  color:red;
  font-size: 18px;
}
  
@media screen and (max-width: 600px) {
  .column {
    float: left;
    padding: 0 2px;
    width: 100%
  }
  
  .right {
    margin-top: 0px;
  }

  .search-text {
    height: 25px;
  }

  .list li {
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
  }

  .virtual-scroll {
    height: 100px;
  }
}