.user-card {
    text-align: center;
    font-family: arial;
}
  
.user-card-image {
    padding-top: 20px;
    width: 220px;
    height: 220px;
}

.user-card-title h1 {
    text-align: center;
    font-family: arial;
}

.user-card-content h2 {
    text-align: center;
    font-family: arial;
}

@media screen and (max-width: 600px) {
    .user-card-image {
        padding-top: 5px;
        width: 150px;
        height: 150px;
    }

    .user-card-title h1 {
        text-align: center;
        font-family: arial;
        font-size: 24px;
        font-weight: 600;
    }
    
    .user-card-content h2 {
        text-align: center;
        font-family: arial;
        font-size: 18px;
        font-weight: 600;
    }
  }